html {
  background-color: #000;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fffdf7;
}
a {
  text-decoration: none;
  color: #fff;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
::before,
::after {
  position: absolute;
  content: "";
}

.center-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(40px);
  display: flex;
  align-items: center;
  justify-content: center;
}
header > article {
  text-align: center;
}

.header-container-logo {
  width: 25%;
}

.header-container-logo > img {
  width: 150px;
  transition: all 0.5s ease;
}

.header-container-logo > img:hover {
  transform: scale(1.048);
  transition: all 0.5s ease;
}

.header-container-menu {
  width: 50%;
}
.header-container-buttons {
  width: 25%;
}
.container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.container-menu > li {
  list-style: none;
}

.button-menu {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.button-menu:focus,
.button-menu:hover {
  color: #e1e1e1;
}

.button-menu:focus:after,
.button-menu:hover:after {
  width: 100%;
  left: 0%;
}

.button-menu:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #e1e1e1;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.btn-primary {
  background-color: #e1e1e1;
  padding: 5px 10px;
  border-radius: 6px;
  color: #5e503f;
  font-weight: 800;
  border: none;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 2px solid transparent;
}
.btn-primary:hover {
  border: 2px solid #e1e1e1;
  background-color: transparent;
  color: #e1e1e1;
  transition: all 0.3s ease-in-out;
}

.hero-container {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../images/hero.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-left,
.hero-right {
  height: 100%;
}

.hero-content > h1 {
  font-size: 1rem;
}

.hero-content > p {
  color: rgba(252, 252, 232, 0.692);
  font-size: 0.2rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.hero-left {
  padding: 120px;
  text-align: center;
  width: 60%;
  z-index: 2;
}
.hero-right {
  width: 40%;
}
main {
  overflow: hidden;
}

.hero-right > img {
  position: absolute;
  right: -280px;

  width: 900px;

  height: auto;
  z-index: 1;
  filter: drop-shadow(0px 0px 20px #000000) brightness(0.65);
}

.text-gradient-primary {
  background: rgb(255, 190, 10);
  background: linear-gradient(to left, #ffbe0b 31%, #f76e2e 91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 40px;
  text-align: center;
}

.subtitle {
  font-size: 2rem;
  font-weight: 800;

  text-align: center;
}

.aboutme-container {
  width: 100%;
  height: 60vh;
}

.aboutme-container > h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.aboutme-container > p,
span {
  font-size: 1.1rem;
  font-weight: 300;
  color: rgba(252, 252, 232, 0.65);
  text-align: center;
  width: 70%;
}
.cards-section-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  gap: 50px;
}

.cards-container {
  height: auto;
  padding-bottom: 200px;
}

.card {
  position: relative;
  height: 400px;
  width: 300px;
  border-radius: 10px;
  background-image: url("../images/background-card.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-content {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(67px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card-content-image img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  z-index: 1;
  position: relative;
}

.card:hover img {
  animation: animation 3s cubic-bezier(0.17, 0.67, 0.67, 0.17) forwards;
}

.card-content-info {
  z-index: 1;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.4);
  width: 95%;
  height: 240px;
  position: absolute;
  bottom: 10px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.card-content-info > h3 {
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card-content-info > p {
  line-clamp: 3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  opacity: 0.6;
}

.btn-secondary {
  background-color: transparent;
  padding: 4px 10px;
  border-radius: 6px;
  color: #e1e1e1;
  border: 2px solid #e1e1e1;
  font-weight: 800;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn-secondary:hover {
  transition: all 0.3s ease-in-out;
  color: #5e503f;
  background-color: #e1e1e1;
}

.contact-container {
  width: 100%;
  height: 70vh;
  background-image: url(../images/pattern.svg);
  background-repeat: repeat;
  background-size: 300px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-contact-container {
  width: 80%;
  height: 70%;
  border-radius: 10px;
  background-color: rgba(150, 150, 150, 0.06);
  backdrop-filter: blur(20px);
  padding: 30px;
  flex-direction: row;
}

.left-contact,
.right-contact {
  width: 50%;
  height: 100%;
  text-align: center;
  gap: 20px;
}

.right-contact-elements {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 20px;
}

.left-contact-elements {
  gap: 20px;
}

.burguer-container > div {
  display: inline-block;
  padding-left: 30px;
}

.blink {
  -webkit-animation: blink 3s ease 1s infinite;
  -khtml-animation: blink 3s ease 1s infinite;
  -moz-animation: blink 3s ease 1s infinite;
  -ms-animation: blink 3s ease 1s infinite;
  -o-animation: blink 3s ease 1s infinite;
  animation: blink 3s ease 1s infinite;
  -webkit-animation-fill-mode: forwards;
  -khtml-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.burguer-container {
  margin-top: 40px;
}

.burguer {
  -webkit-animation: run 3s ease 1s infinite;
  -khtml-animation: run 3s ease 1s infinite;
  -moz-animation: run 3s ease 1s infinite;
  -ms-animation: run 3s ease 1s infinite;
  -o-animation: run 3s ease 1s infinite;
  animation: run 3s ease 1s infinite;
  -webkit-animation-fill-mode: forwards;
  -khtml-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.burguer .bread-top {
  -webkit-animation: run 3s ease 1.5s infinite;
  -khtml-animation: run 3s ease 1.5s infinite;
  -moz-animation: run 3s ease 1.5s infinite;
  -ms-animation: run 3s ease 1.5s infinite;
  -o-animation: run 3s ease 1.5s infinite;
  animation: run 3s ease 1.5s infinite;
  -webkit-animation-fill-mode: forwards;
  -khtml-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-border-radius: 100% 100% 30% 30%;
  -khtml-border-radius: 100% 100% 30% 30%;
  -moz-border-radius: 100% 100% 30% 30%;
  -ms-border-radius: 100% 100% 30% 30%;
  -o-border-radius: 100% 100% 30% 30%;
  border-radius: 100% 100% 30% 30%;
  background: linear-gradient(
    to bottom,
    #e8bd88 0%,
    #e8bd88 70%,
    #d4a57b 70%,
    #d4a57b 100%
  );
  width: 120px;
  height: 50px;
}
.burguer .bread-top .mark {
  position: absolute;
  height: 6px;
  width: 12px;
  background: #fbdbad;
}
.burguer .bread-top .mark:before,
.burguer .bread-top .mark:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background: #fbdbad;
  height: 6px;
  width: 6px;
}
.burguer .bread-top .mark:before {
  -webkit-transform: translateX(-70%);
  -khtml-transform: translateX(-70%);
  -moz-transform: translateX(-70%);
  -ms-transform: translateX(-70%);
  -o-transform: translateX(-70%);
  transform: translateX(-70%);
  left: 0;
}
.burguer .bread-top .mark:after {
  -webkit-transform: translateX(70%);
  -khtml-transform: translateX(70%);
  -moz-transform: translateX(70%);
  -ms-transform: translateX(70%);
  -o-transform: translateX(70%);
  transform: translateX(70%);
  right: 0;
}
.burguer .bread-top .mark:nth-child(1) {
  top: 12px;
  left: 36px;
  width: 12px;
}
.burguer .bread-top .mark:nth-child(2) {
  top: 36px;
  right: 36px;
  width: 8.4px;
}
.burguer .bread-top .mark:nth-child(3) {
  top: 30px;
  left: 24px;
  width: 6px;
}
.burguer .bread-top .mark:nth-child(4) {
  top: 24px;
  right: 12px;
  width: 6px;
}
.burguer .bread-top .speed {
  left: -6px;
  top: 50%;
}
.burguer .ingredients [class*="ing"] {
  width: 84px;
  height: 20px;
  margin: 2.4px auto;
}
.burguer .ingredients [class*="ing"]:before,
.burguer .ingredients [class*="ing"]:after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 36px;
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.burguer .ingredients [class*="ing"]:before {
  left: -18px;
}
.burguer .ingredients [class*="ing"]:after {
  right: -18px;
}
.burguer .ingredients .ing1 {
  -webkit-animation: run 3s ease 1.4s infinite;
  -khtml-animation: run 3s ease 1.4s infinite;
  -moz-animation: run 3s ease 1.4s infinite;
  -ms-animation: run 3s ease 1.4s infinite;
  -o-animation: run 3s ease 1.4s infinite;
  animation: run 3s ease 1.4s infinite;
  -webkit-animation-fill-mode: forwards;
  -khtml-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background: linear-gradient(
    to bottom,
    #66823a 0%,
    #66823a 50%,
    #5c782c 50%,
    #5c782c 100%
  );
}
.burguer .ingredients .ing1:before,
.burguer .ingredients .ing1:after {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(
    to bottom,
    #66823a 0%,
    #66823a 50%,
    #5c782c 50%,
    #5c782c 100%
  );
}
.burguer .ingredients .ing2 {
  -webkit-animation: run 3s ease 1.3s infinite;
  -khtml-animation: run 3s ease 1.3s infinite;
  -moz-animation: run 3s ease 1.3s infinite;
  -ms-animation: run 3s ease 1.3s infinite;
  -o-animation: run 3s ease 1.3s infinite;
  animation: run 3s ease 1.3s infinite;
  -webkit-animation-fill-mode: forwards;
  -khtml-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background: linear-gradient(
    to bottom,
    #6b461c 0%,
    #6b461c 50%,
    #60411a 50%,
    #60411a 100%
  );
}
.burguer .ingredients .ing2:before,
.burguer .ingredients .ing2:after {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(
    to bottom,
    #6b461c 0%,
    #6b461c 50%,
    #60411a 50%,
    #60411a 100%
  );
}
.burguer .ingredients .ing3 {
  -webkit-animation: run 3s ease 1.2s infinite;
  -khtml-animation: run 3s ease 1.2s infinite;
  -moz-animation: run 3s ease 1.2s infinite;
  -ms-animation: run 3s ease 1.2s infinite;
  -o-animation: run 3s ease 1.2s infinite;
  animation: run 3s ease 1.2s infinite;
  -webkit-animation-fill-mode: forwards;
  -khtml-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  width: 108px;
  height: 6px;
  background: #b11010;
}
.burguer .ingredients .ing3:before,
.burguer .ingredients .ing3:after {
  content: "";
  display: block;
  position: absolute;
  content: none;
}
.burguer .ingredients .ing4 {
  -webkit-animation: run 3s ease 1.1s infinite;
  -khtml-animation: run 3s ease 1.1s infinite;
  -moz-animation: run 3s ease 1.1s infinite;
  -ms-animation: run 3s ease 1.1s infinite;
  -o-animation: run 3s ease 1.1s infinite;
  animation: run 3s ease 1.1s infinite;
  -webkit-animation-fill-mode: forwards;
  -khtml-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background: linear-gradient(
    to bottom,
    #d7a335 0%,
    #d7a335 50%,
    #c58f2c 50%,
    #c58f2c 100%
  );
}
.burguer .ingredients .ing4:before,
.burguer .ingredients .ing4:after {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(
    to bottom,
    #d7a335 0%,
    #d7a335 50%,
    #c58f2c 50%,
    #c58f2c 100%
  );
}
.burguer .bread-bottom {
  -webkit-animation: run 3s ease 1s infinite;
  -khtml-animation: run 3s ease 1s infinite;
  -moz-animation: run 3s ease 1s infinite;
  -ms-animation: run 3s ease 1s infinite;
  -o-animation: run 3s ease 1s infinite;
  animation: run 3s ease 1s infinite;
  -webkit-animation-fill-mode: forwards;
  -khtml-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  width: 84px;
  height: 36px;
  margin: 2.4px auto;
  background: linear-gradient(
    to bottom,
    #e8bd88 0%,
    #e8bd88 50%,
    #d4a57b 50%,
    #d4a57b 100%
  );
}
.burguer .bread-bottom:before,
.burguer .bread-bottom:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  top: 0;
  height: 36px;
  width: 36px;
  background: linear-gradient(
    to bottom,
    #e8bd88 0%,
    #e8bd88 50%,
    #d4a57b 50%,
    #d4a57b 100%
  );
}
.burguer .bread-bottom:before {
  left: -18px;
}
.burguer .bread-bottom:after {
  right: -18px;
}
.burguer .bread-bottom .wheel {
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
  -khtml-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-style: solid;
  border-width: 0 0 2.4px 2.4px;
  border-color: #2b2b2b;
  width: 30px;
  height: 30px;
  background: #e8bd88;
  position: absolute;
  top: 24px;
  z-index: 1;
}
.burguer .bread-bottom .wheel:before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background: #2b2b2b;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -khtml-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.burguer .bread-bottom .wheel:first-child {
  left: 0;
}
.burguer .bread-bottom .wheel:last-child {
  right: 0;
}
.burguer .bread-bottom .wheel:last-child:before {
  width: 18px;
  height: 18px;
}
.burguer .speed {
  position: absolute;
  left: -21.6px;
  top: 30%;
  background: inherit;
  height: 12px;
  width: 18px;
}
.burguer .speed:before,
.burguer .speed:after {
  content: "";
  display: block;
  position: absolute;
}
.burguer .speed:before {
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  height: 12px;
  width: 12px;
  left: -6px;
  background: inherit;
}
.burguer .speed:after {
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  top: 100%;
  right: 6px;
  height: 12px;
  width: 12px;
  background: transparent;
}

footer {
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
footer > img {
  width: auto;
  height: 30px;
}

footer > div {
  display: flex;

  gap: 20px;
}

footer > div > a > img {
  width: 30px;
  height: 30px;
}

footer > div > a {
  transition: all 0.3s ease-in-out;
}

footer > div > a:hover {
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}
